body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-registration {
    max-width: 660px;
    padding: 15px;
    margin: 0 auto;
}
.form-registration input[type=file] {
    display: inline-block;
}